<tr data-controller="realtime-partial" data-realtime-partial-key="<%= comment.to_gid_param %>">
  <td><%= comment.title %></td>
  <td><%= comment.body %></td>
  <td><%= link_to 'Show', comment %></td>
  <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
  <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
